<div class="events-container">
    <p>Stay up to date with club announcements and upcoming events below!</p>

    <div class="discord-embed">
        <widgetbot
          server="1071944140515979284"
          channel="1071944141317095516"
          width="100%"
          height="600"
        ></widgetbot>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
    </div>
</div>