<div class="events-container">
    <h1>Events</h1>
    <p>Stay up to date with club announcements and upcoming events below.</p>

    <div class="discord-embed">
        <!-- Widgetbot embed goes here once bot is approved -->
        <widgetbot
          server="1071944140515979284"
          channel="1071944141317095516"
          width="800"
          height="600"
        ></widgetbot>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
    </div>
</div>