<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu-Gi-Oh! Club</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .home-page {
            flex: 1;
            max-height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 10px;
            box-sizing: border-box;
        }


        .club-content {
            width: 95%;
            max-width: 1400px;
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: space-between;
            padding: 30px;
            box-sizing: border-box;
        }

        .character-side {
            width: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }

        .character-side img {
            width: 350px;
            height: 350px;
        }

        .character-side2 img {
            width: 200px;
            height: 300px;
        }

        @keyframes aura-pulse {
            0% {
                filter: drop-shadow(0 0 2px #6a0dad);
            }

            50% {
                filter: drop-shadow(0 0 3px #9400D3);
            }

            100% {
                filter: drop-shadow(0 0 2px #6a0dad);
            }
        }

        .character-side img,
        .character-side2 img {
            animation: aura-pulse 5s ease-in-out infinite;
        }

        .club-description {
            flex: 1;
            text-align: center;

            font-size: 1.2rem;
            line-height: 1.6;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="home-page">


        <div class="club-content">
            <div class="character-side">
                <img src="/images/yugioh_char.png" alt="yugioh">
            </div>

            <div class="club-description">
                <p>
                    Welcome to the Yu-Gi-Oh Club! Join other duelists to talk about cards,
                    strategies, favorite characters, and everything from classic monsters
                    to the newest decks. We provide a space where
                    anyone from any background can enjoy playing Yu-Gi-Oh.
                </p>
            </div>

            <div class="character-side2">
                <img src="/images/diva.jpg" alt="yugioh">
            </div>
        </div>
    </div>

    <footer class="credits">
        <p>Website Design</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/oliti-abdeta-43927828b/">Oliti Abdeta</a></li>
            <li> <a href="https://www.linkedin.com/in/carolyn-dockhorn/">Carolyn Dockhorn</a></li>
            <li> <a href="https://www.linkedin.com/in/carson-schlageter/" target="_blank">Carson Schlageter</a></li>
            <li> Kristin Off</li>
        </ul>
    </footer>
</body>


</html>