<style>
    .loaner_decks_page {
        flex: auto;
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .page_heading {
        padding: 10px;
    }

    .loaner_deck {
        width: 50%;
        padding: 10px;
        border: 2px solid;
        border-radius: 10px;
        margin: 10px;
    }

    .decklist 
    {
        display: inline-block;
        text-align: center;
    }

    .card 
    {
        text-align: left;
    }

    #libromancer {
        background-image: url(/images/libromancer.jpg);
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-position: center;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    #evil_eye {
        background-image: url(images/evil_eye.jpg);
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-position: center;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    #runick {
        background-image: url(images/runick.jpg);
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-position: center;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
</style>

<!-- Need to get deck descriptions and decklists from client. -->
<!-- Presentation of decklists will depend on what format they are given in. -->

<div class="loaner_decks_page">
    <div class="page_heading">
        <h1>Loaner Decks</h1>
        <p>
            These decks will be available to borrow at club meetings.
        </p>

        <p>
            A BuffOne card or phone must be provided as collateral against theft when borrowing decks from the club.
        </p>
    </div>

    <div class="loaner_deck" id="libromancer">
        <h2>Libromancer</h2>

        <div class="deck_description" id="libromancer_description">
            <p>Ritual summoning deck.</p>
            <p>Use ritual spell cards to summon monsters from your hand!</p>
        </div>


        <div class="decklist">
            <h3>Decklist</h3>
            <div class="card"><p>3 Lava Golem</p></div>
            <div class="card"><p>1 The Iris Swordsoul</p></div>
            <div class="card"><p>1 Vanity's Ruler</p></div>
            <div class="card"><p>1 Dogmatika Maximus</p></div>
            <div class="card"><p>3 Libromancer Fire</p></div>
            <div class="card"><p>2 Dogmatika Ecclesia, the Virtuous</p></div>
            <div class="card"><p>2 Libromancer Geek Boy</p></div>
            <div class="card"><p>3 Ash Blossom & Joyous Spring</p></div>
            <div class="card"><p>2 Ghost Ogre & Snow Rabbit</p></div>
            <div class="card"><p>3 Droll & Lock Bird</p></div>
            <div class="card"><p>1 Magicians' Souls</p></div>
            <div class="card"><p>1 Dogmatika Alba Zoa</p></div>
            <div class="card"><p>2 Sauravis, the Ancient and Ascended</p></div>
            <div class="card"><p>1 Illusion of Chaos</p></div>
            <div class="card"><p>1 Libromancer Doombroker</p></div>
            <div class="card"><p>2 Cyber Angel Benten</p></div>
            <div class="card"><p>3 Dogmatikamatrix</p></div>
            <div class="card"><p>2 Libromancer Origin Story</p></div>
            <div class="card"><p>2 Libromancer First Appearance</p></div>
            <div class="card"><p>3 Dark Ruler No More</p></div>
            <div class="card"><p>3 Nadir Servant</p></div>
            <div class="card"><p>1 Called by the Grave</p></div>
            <div class="card"><p>3 Emergency Teleport</p></div>
            <div class="card"><p>3 Super Polymerization</p></div>
            <div class="card"><p>1 Dogmatikalamity</p></div>
            <div class="card"><p>3 Infinite Impermanence</p></div>
            <div class="card"><p>1 Libromancer Intervention</p></div>

            <h4>Extra</h4>
            <div class="card"><p>1 Starving Venom Fusion Dragon</p></div>
            <div class="card"><p>1 Titaniklad the Ash </p></div>
            <div class="card"><p>1 Garura, Wings of Resonant Life</p></div>
            <div class="card"><p>2 Elder Entity N'tss</p></div>
            <div class="card"><p>1 Mudragon of the Swamp</p></div>
            <div class="card"><p>1 Despian Luluwalilith</p></div>
            <div class="card"><p>1 Herald of the Arc Light</p></div>
            <div class="card"><p>1 Decode Talker Heatsoul</p></div>
            <div class="card"><p>1 I:P Masquerena</p></div>
            <div class="card"><p>1 Cross-Sheep</p></div>
            <div class="card"><p>1 Linguriboh</p></div>
            <div class="card"><p>1 Knightmare Unicorn</p></div>
        </div>
    </div>

    <div class="loaner_deck" id="evil_eye">
        <h2>Evil Eye</h2>

        <div class="deck_description" id="evil_eye_description">
            <p>
                Equip spell deck.
            </p>
            <p>
                Enhance your monsters by equipping spells to them!
            </p>
        </div>

        <!--
        <div class="decklist">
            <h3>Decklist</h3>
        </div>
        -->
    </div>

    
    <div class="loaner_deck" id="runick">
        <h2>Runick</h2>

        <!--
        <div class="deck_description">
            Insert brief description of what the deck does.
        </div>
        -->

        <div class="decklist">
            <h3>Decklist</h3>
            <div class="card"><p>3 Spright Blue</p></div>
            <div class="card"><p>3 Ash Blossom</p></div>
            <div class="card"><p>3 Rex Freight Fur Hire</p></div>
            <div class="card"><p>2 Ghost Belle</p></div>
            <div class="card"><p>1 Donpa Marksman Fur Hire</p></div>
            <div class="card"><p>1 Chaos Hunter</p></div>
            <div class="card"><p>1 Beat Bladesman Fur Hire</p></div>
            <div class="card"><p>1 Rafale Champion Fur Hire</p></div>
            <div class="card"><p>1 Spright Red</p></div>
            <div class="card"><p>1 Spright Carrot</p></div>
            <div class="card"><p>1 Spright Jet</p></div>
            <div class="card"><p>1 Click and Echo</p></div>
            <div class="card"><p>3 Runick Destruction</p></div>
            <div class="card"><p>3 Runick Freezing Curses</p></div>
            <div class="card"><p>3 Runick Dispelling</p></div>
            <div class="card"><p>3 Runick Tip</p></div>
            <div class="card"><p>3 Runick Flashing Fire</p></div>
            <div class="card"><p>3 Fossil Dig</p></div>
            <div class="card"><p>2 Runick Slumber</p></div>
            <div class="card"><p>2 Runick Fountain</p></div>
            <div class="card"><p>1 Called by the Grave</p></div>
            <div class="card"><p>1 Cosmic Cyclone</p></div>
            <div class="card"><p>1 Rookie Fur Hire</p></div>
            <div class="card"><p>1 Spright Smashers</p></div>
            <div class="card"><p>1 Spright Starter</p></div>
            <div class="card"><p>1 Mayhem Fur Hire</p></div>
            <div class="card"><p>2 Evenly Matched</p></div>
            <div class="card"><p>1 Rivalry of Warlords</p></div>

            <h4>Extra</h4>
            <div class="card"><p>2 Folgo Justice Fur Hire</p></div>
            <div class="card"><p>2 Donner Dagger Fur Hire</p></div>
            <div class="card"><p>1 I:P Masquerena</p></div>
            <div class="card"><p>1 Knightmare Gryphon</p></div>
            <div class="card"><p>1 Underworld Goddess of the Closed World</p></div>
            <div class="card"><p>1 Saryuja Skull Dread</p></div>
            <div class="card"><p>1 Number 29 Mannequin Cat</p></div>
            <div class="card"><p>1 Gigantic Spright</p></div>
            <div class="card"><p>2 Hugin the Runick Wings</p></div>
            <div class="card"><p>1 Geri the Runick Fangs</p></div>
            <div class="card"><p>1 Munin the Runick Wings</p></div>
            <div class="card"><p>1 Sleipnir the Runick Mane</p></div>
        </div>
    </div>
    
    </div>