<footer style="background: white;
         background-size: 300% 300%;
         animation: gradient-animation 8s ease infinite;
         text-align: center;
         padding: 20px 0;
         font-size: 16px;
         font-weight: bold;
        color: rgba(109, 109, 109, 0.6);  
         box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);">
  <p class="disclaimer">Yu-Gi-Oh! is a trademark of Kazuki Takahashi and Konami. This is an unofficial club site for CU
    Boulder's Yu-Gi-Oh! club and not
    affiliated with or endorsed by Konami.</p>
</footer>